<div class="container">
  <div class="jumbotron">
    <h1>Segmentation App</h1>
    <br>
    <br>
    <p>This application is a test proposed by the Resultados Digitais company.
      It's a Ruby on Rails application that segments a list of contacts based in
      the parameters sugested by the user. It's possible to maintain contacts and segments.
    </p>
  </div>
  <div class="center">
    <%= link_to "Segments", segments_path, class: "btn btn-lg btn-default" %>
    &nbsp &nbsp &nbsp
    <%= link_to "Contacts", contacts_path, class: "btn btn-lg btn-default" %>
    <br>
    <br>
    <br>
    <p class="git-hub-message">
      This project is available at <a href="https://github.com/gabriel-augusto/rd_chalange/tree/master">GitHub</a>
    </p>
  </div>
</div>