@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
  padding-top: 90px;
}
span {
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 8px;
  text-align: center;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}
.bg-2 {
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}
.bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4 {
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}

/*********************** PERSONAL CONFIGURATIONS *********************/

/* universal */

.btn a:hover {
  text-decoration: none;
}

.jumbotron {
  height: 320px;
  background-size: cover;
}

.jumbotron h1 {
  color: #222;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.jumbotron p {
  line-height: 130%;
}

.jumbotron h1 {
  color: #1abc9c;
}

.git-hub-message {
  font-size: 1.5em;
}